footer
    .container
        .flex 
            .footer__item
                a(href="index.html") 
                    img(src=img+"logo_1004.png", alt="")
                .footer__text__logo Студия татуажа МИРБРОВЕЙ
                a.politics(href="#") Политика конфиденциальности
            .footer__item(class="dop__style")
                .flex 
                    .flex__block
                        nav.navbar 
                            ul 
                                li
                                    a(href="#") Услуги
                                li
                                    a(href="#") Мастера
                                li
                                    a(href="#") Отзывы
                                li
                                    a(href="#") Обучение
                                li
                                    a(href="#") Статьи
                                li
                                    a(href="#") Контакты
                        .media 
                            a(href="#") 
                                img(src=img+"whatsapp.png", alt="")
                            a(href="#") 
                                img(src=img+"instagram.png", alt="")
                            a(href="#") 
                                img(src=img+"viber.png", alt="")
                            a(href="#") 
                                img(src=img+"tg.png", alt="")
                            a(href="#") 
                                img(src=img+"vk.png", alt="")
                        a.btn(href="#") Выбрать дату и мастера
                    .figure
            .footer__item(class="dop__style-1")
                p Альянс компаний:
                img(src=img+"IMG_7030.png", alt="")
                a.btns(href="#") glmn.group