- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		
		main.page-container
			section.header
				.container 
					include blocks/header.pug
					.flex 
						.flex__block
							h1 Мир с идеальными<br> глазами — доступен в нашей студии татуажа
							p На сегодняшний день наша команда имеет огромный опыт в области татуажа.<br> За нашими плечами тысячи довольных клиентов. Мы не хвалим себя — мы просто говорим<br> что мы лучшие* в Краснодаре! Самое важное доказательство этому, нескончаемое количество отзывов
							.flex 
								a.btn(href="#") Записаться на процедуру
								p Бесплатная консультация
							.widgets
								iframe(src="https://yandex.ru/sprav/widget/rating-badge/141981574546", width="150" height="50" frameborder="0") 
								.zoon-widget-comments(data-id="60a3ca6fbbc0e13ed311e0f2" data-type="240x80" data-stars="all" data-style="white") Powered by 
									a(href="https://krasnodar.zoon.ru/beauty/salon_mirbrovej/") Zoon
								script(src="//zoon.ru/jsext/widget_comments.js?v=4")
							.widgets__text *По количеству выполненных процедур за 2020 год по версии журнала “Beauty KRD” тираж №645
				img.Ellipse(src=img+"Ellipse 3 copy.png", alt="")
				img.tellefone(src=img+"iPOhone.png", alt="")
				<video controls width="147" height="302" autoplay="autoplay" preload="none" id="video" oncontextmenu=false;>
					<source src="img/intro.mp4" type="video/mp4">
				</video>
				a.link
					img(src=img+"mute_(1)_1634.png", alt="")
			section.doing
				.container 
					.flex 
						.doing__text
							p.preview Что мы делаем?
							h2 Мы оказываем только профессиональные услуги татуажа
							p Какой-то крутой текст, описывающий, что дальше будет перечисление зон татуажа, которые мы оказываем и скорее всего здесь надо как-то уточнить какие зоны будут ниже
						.doing__carts
							.doing__item-one
								p Довольные клиенты
								h2 5.700+
								a.btn(href="#") Смотреть работы
							.doing__item-two
								p Отзывы
								h2 260+
								a.btn(href="#") Читать отзывы
							.doing__item-three
								p Выпускники школы
								h2 35+
								a.btn(href="#") Обучение татуажу
			section.services
				.container 
					.flex
						.services__item
							img(src=img+"Layer 11.png", alt="")
							.services__item-title Татуаж бровей
							p Решит проблему недостаточной густоты волос, воссоздаст эффект легкого макияжа при помощи напыления или теневой растушевки. Подбор эскиза и цвета всегда производится индивидуально
							a.btn(href="#") Подробнее про татуаж бровей
						.services__item
							img(src=img+"Layer 13.png", alt="")
							.services__item-title Татуаж губ
							p Подчеркнет их природную красоту или позволит исправить дефекты (недостаточная полнота, асимметрия и др.). Вы сможете выбрать любое цветовое решение (от пастельных до ярких тонов), а мастер подберет необходимую технику
							a.btn(href="#") Подробнее про татуаж бровей
						.services__item
							img(src=img+"Layer 12.png", alt="")
							.services__item-title Татуаж глаз
							p Межресничка добавит взгляду яркости, а ресницам придаст эффект густоты. Сильнее выделить глаза помогут стрелочки, по желанию клиента размер, форма и цвет могут быть абсолютно разнообразными
							a.btn(href="#") Подробнее про татуаж бровей
			section.tattooing
				.container
					.flex
						.tattooing__title Татуаж
						.drob —
						p Каждая девушка и женщина должна быть красивой каждый день, а решение этому — татуаж! Перманентный макияж позволяет девушкам выглядеть превосходно в любое время дня и ночи.
					p * Пьёте дорогое вино в шикарном ресторане и помада не остаётся на хрустальном бокале.<br>* Занимаетесь спортом или сексом , при этом бурно потея, Ваш макияж остаётся в первозданном виде.<br>* Загораете на пляже или купаетесь в тёплом море, как в парном молоке.<br>* Плескаетесь в бассейне из морской целебной воды. Ваш прекрасный вид всегда на месте и выглядит просто безупречно!
					.flex(class="flex__dop")
						.tattooing__block 
						p И всю эту роскошь Вам может подарить татуаж и его магия преображения!<br>Моя команда, состоящая из опытных, сертифицированных специалистов, чемпионов и кандидатов в области перманентного макияжа, поможет Вам сделать идеальный<span> татуаж бровей, татуаж глаз</span> и <span>татуаж губ</span> в Краснодаре!<br><br>На сегодняшний день наша команда имеет огромный опыт в области татуажа.<br><span>Цены на татуаж</span> у нас самые приятные, увидев их, нужно будет вытирать слюньки.
			section.team 
				.container
					h2 Наша команда мастеров
					p Наши мастера проходят полное переобучение, чтобы соответствовать наивысшим эталонам качества.<br>Мы гарантируем качественный результат на все виды татуажа в нашей студии
					img(src=img+"Group 10.png", alt="", class="team__one")
					img(src=img+"ЖЕНЯ.png", alt="", class="team__two")
					.flex 
						.team__item-one
							h3 Мирослав Ванярхин
							p Основатель Школы-Студии МИРБРОВЕЙ
							.team__blocks
								.team__block
									p Выполненные процедуры
									.number 5.700+
								.team__block
									p Опыт работы в сфере ПМ
									.number 7 лет
								.team__block
									p Стоимость процедур от
									.number 4.990₽
								.team__block
									p Отзывов
									.number 200+
									a.btn(href="#") Читать
							a.btn(href="#") Записаться к Мирославу
						img(src=img+"layer_18_copy_2_832.png", alt="")
						.team__item-two
							h3 Евгения Вибратор
							p Лучший выпускник 2018 года
							.team__blocks
								.team__block
									p Выполненные процедуры
									.number 2.100+
								.team__block
									p Опыт работы в сфере ПМ
									.number 3 года
								.team__block
									p Стоимость процедур от
									.number 2.990₽
								.team__block
									p Отзывов
									.number 90+
									a.btn(href="#") Читать
							a.btn(href="#") Записаться к Евгении
			section.work 
				h2 Наши новые работы
				.swiper-container(class="mySwiper")
					.swiper-wrapper
						.swiper-slide
							img(src=img+"Layer 527.png", alt="")
							.work__block
								h4 Мастер: <span>Мирослав</span>
								a.btn(href="#") Смотреть в Instagram
						.swiper-slide
							img(src=img+"Layer 34.png", alt="")
							.work__block
								h4 Мастер: <span>Евгения</span>
								a.btn(href="#") Смотреть в Instagram
						.swiper-slide
							img(src=img+"Layer 32.png", alt="")
							.work__block
								h4 Мастер: <span>Мирослав</span>
								a.btn(href="#") Смотреть в Instagram
						.swiper-slide
							img(src=img+"Layer 527.png", alt="")
							.work__block
								h4 Мастер: <span>Мирослав</span>
								a.btn(href="#") Смотреть в Instagram
						.swiper-slide
							img(src=img+"Layer 34.png", alt="")
							.work__block
								h4 Мастер: <span>Евгения</span>
								a.btn(href="#") Смотреть в Instagram
				.swiper-button-prev
				.swiper-button-next
			section.rewiev 
				.container 
					.flex 
						.rewiev__block
							h3 Новые отзывы Мирослава
							.rewiev__item
								img.main(src=img+"Layer 27.png", alt="")
								img.dop(src=img+"яндекс лого.png", alt="")
								.group
									.name Анна Сапрыкина
									p Сделала татуаж бровей у мастера Евгении, абсолютно безболезненно, приятная обстановка, весь персонал приветливый.
							.rewiev__item
								img.main(src=img+"Layer 28.png", alt="")
								img.dop(src=img+"2gis лого.png", alt="")
								.group
									.name Светлана Луппа
									p Сделала мне не реально крутые бровки, после того как увидела результат бровей сразу захотела себе сделать и губки сочные…
							.rewiev__item
								img.main(src=img+"Layer 30.png", alt="")
								img.dop(src=img+"2gis лого.png", alt="")
								.group
									.name Марина Родина
									p Спасибо большое Евгении!!! Мастер своего дела, все комфортно, быстро а главное красиво! Всем рекомендую!
							.rewiev__item
								img.main(src=img+"Layer 31.png", alt="")
								img.dop(src=img+"яндекс лого.png", alt="")
								.group
									.name Анастасия Дубовик
									p Долго решалась сделать татуаж губ. Записалась к Мирославу. Хороший мастер. Внимательный. Понравился результат. Советую
						img(src=img+"layer_18_copy_2_1628.png", alt="")
						.rewiev__block
							h3 Новые отзывы Евгении
							.rewiev__item
								img.main(src=img+"Layer 27.png", alt="")
								img.dop(src=img+"яндекс лого.png", alt="")
								.group
									.name Анна Сапрыкина
									p Сделала татуаж бровей у мастера Евгении, абсолютно безболезненно, приятная обстановка, весь персонал приветливый.
							.rewiev__item
								img.main(src=img+"Layer 28.png", alt="")
								img.dop(src=img+"2gis лого.png", alt="")
								.group
									.name Светлана Луппа
									p Сделала мне не реально крутые бровки, после того как увидела результат бровей сразу захотела себе сделать и губки сочные…
							.rewiev__item
								img.main(src=img+"Layer 30.png", alt="")
								img.dop(src=img+"2gis лого.png", alt="")
								.group
									.name Марина Родина
									p Спасибо большое Евгении!!! Мастер своего дела, все комфортно, быстро а главное красиво! Всем рекомендую!
							.rewiev__item
								img.main(src=img+"Layer 31.png", alt="")
								img.dop(src=img+"яндекс лого.png", alt="")
								.group
									.name Анастасия Дубовик
									p Долго решалась сделать татуаж губ. Записалась к Мирославу. Хороший мастер. Внимательный. Понравился результат. Советую
			section.contact
				.container 
					.flex
						.contact__item
							.contact__title-dop Где мы находимся?
							h2 Наш адрес и контакты
							p Да, да, да, мы принимаем своих клиентов в цоколе и ниразу не стесняемся из-за этого. Мы предоставим Вам такой сервис, какой не предоставят даже лучшие студии в городе
							.items 
								.item__cont
									.contact__block 
										h3 г.Краснодар, ул. Артюшкова, д.5
										p Фиолетовый цоколь между 2 и 3 подъездами
									.flex 
										a(href="#")
											.coub 
												img(src=img+"YandexNavigatorLogo.svg.png", alt="")
											.txt Построить маршрут
										a(href="#")
											.coub 
												img(src=img+"Layer 20.png", alt="", style="width: 38px; height: 37px; margin-left: -1px; margin-top: -1px")
											.txt Вызвать такси
									.contact__block 
										h3 +7 (938) 538-05-87
										p Принимаем звонки с 8:00 до 20:00
									.flex 
										a(href="#")
											.coub 
												img(src=img+"telephone.png", alt="")
											.txt Позвонить
										a(href="#")
											.coub 
												img(src=img+"+.png", alt="", style="width: 38px;")
											.txt Написать в WhatsApp
								.item__cont
									img(src=img+"iPad.png", alt="")
									<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A80ce2b4cc26655eec40c8343c1c690bdcd546e75885dcfb5c53dc673025d8d4f&amp;source=constructor" width="493" height="338" frameborder="0"></iframe>
		include blocks/footer.pug
		include blocks/scripts.pug